<section id="purchase_codet4" data-email='{{shop.email |default:"no_email"}}' class="hide hidden">
   <h2 id="heading_codet4">Start your business journey with Elessi</h2>
   <p id="txt_codet4">Use Elessi Shopify, and explore all the tools and services you need to start, run, and grow your business.</p>
   <p id="res_codet4" class="dn"></p>
   <input placeholder="Enter your purchase code" id="ipt_codet4" type="text">
   <a id="btn_codet4" href="https://lic.the4.co/" class="pr oh">
      <svg xmlns="http://www.w3.org/2000/svg" width="45" height="40" viewBox="0 0 38 38" class="imp_icon_ld"> <defs> <linearGradient x1="8.042%" y1="0%" x2="65.682%" y2="23.865%" id="a"> <stop stop-color="#fff" stop-opacity="0" offset="0%"></stop> <stop stop-color="#fff" stop-opacity=".631" offset="63.146%"></stop> <stop stop-color="#fff" offset="100%"></stop> </linearGradient> </defs> <g fill="none" fill-rule="evenodd"> <g transform="translate(1 1)"> <path d="M36 18c0-9.94-8.06-18-18-18" id="Oval-2" stroke="url(#a)" stroke-width="2" transform="rotate(152.865 18 18)"> <animateTransform attributeName="transform" type="rotate" from="0 18 18" to="360 18 18" dur="0.9s" repeatCount="indefinite"></animateTransform> </path> <circle fill="#fff" cx="36" cy="18" r="1" transform="rotate(152.865 18 18)"> <animateTransform attributeName="transform" type="rotate" from="0 18 18" to="360 18 18" dur="0.9s" repeatCount="indefinite"></animateTransform> </circle> </g> </g></svg>
      <span>Start Elessi</span>
   </a>
   <p id="minor_codet4">
      <a href="https://bit.ly/2tHbq4e" target="_blank">Where Is My Purchase Code?</a>
      <a href="https://bit.ly/2X3bS8P" target="_blank">Buy A New License?</a>
   </p>
</section>
<style>
.t4_tools_btns { 
    position: fixed;
    top: 60%;
    right: 0;
    z-index: 400;
    visibility: hidden;
    opacity: 0;
    transform: scale(0);
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    -webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}
.t4_tools_btns.on_show {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
}
#t4_style_update_css {
    display: none
}
/* .template-index #t4_style_update_css {
    display: block
} */
#enable_tag {
    margin-top: 100px;
}
.t4_tools_btns .ttip_nt {
    text-align: center;
    cursor: pointer;
    height: 70px;
    line-height: 1.2;
    width: 80px;
    background-color: #56cfe1;
    -webkit-transition: transform .3s ease .4s, background-color .25s ease;
    transition: transform .3s ease .4s, background-color .25s ease;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    perspective: 800px;
    -webkit-perspective: 800px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #fff;
    font-weight: 600;
    font-size: 15px;
    border: 4px double #fff;
    border-radius: 4px;
    box-shadow: 0 5px 15px 0 rgba(0,0,0,0.15);
    background-color: #47c1bf;
}
svg.t4_L9 {
    width: 80px;
    height: 70px;
    display: none
}
.t4_tools_btns .ttip_nt:hover {
    background-color: #007e91;
}
.t4_tools_btns.up_loading {
    pointer-events: none;
}
.t4_tools_btns.up_loading .ttip_nt {
    font-size: 0;
}
.t4_tools_btns.up_loading .ttip_nt svg.t4_L9{
   display: block
}
.t4_tools_btns .tooltip_left .tt_txt {
    background-color: #fb8b8a;
    padding: 12px 10px;
}
.rtl_false .t4_tools_btns .tooltip_left:before {
    border-left-color: #fb8b8a;
}
.rtl_true .t4_tools_btns .tooltip_left:before {
    border-right-color: #fb8b8a;
}
.rtl_true .t4_tools_btns {
    left: 0;
    right: auto;
}
#alet_css_t4 {
    font-size: 14px;
    line-height: 1;
    padding: 15px 10px;
    border-radius: 3px;
    background: rgba(0,0,0,.88);
    box-shadow: 0 0 0 1px rgba(63,63,68,.05), 0 1px 3px 0 rgba(63,63,68,.15);
    color: #fff;
    max-width: 200px;
    position: fixed;
    right: 90px;
    top: 46%;
    margin-left: -100px;
    opacity: 0;
    transform: translateY(70px);
    transition: transform .4s ease,opacity .4s ease;
    pointer-events: none;
    z-index: 500
}
#alet_css_t4.active {
    transform: translateY(0);
    opacity: 1;
}
#purchase_codet4 {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f2e0cf;
    z-index: 100000;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
  -ms-flex-direction: column;
  flex-direction: column;
    text-align: center;
    padding: 5%;
    background: #f4f6f8;
    border: 1px solid #dfe3e8;
}
#purchase_codet4:not(.hidden):not(.hide) {
    display: -ms-flexbox !important;
    display: flex !important;
}
#heading_codet4 {
    font-weight: 800;
    line-height: 1.1;
    font-size: 40px;
    margin: 0;
    color: #000639;
}
#txt_codet4 {
    color: #000639;
    margin-top: 1em;
    margin-bottom: 1.375em;
}
#ipt_codet4 {
    text-align: center;
    max-width: 400px;
    height: 50px;
    width: 100%;
    margin: 0 0 15px;
    padding: 1em 1em;
    color: #212b35;
    font-size: 1em;
    box-shadow: 0 0 0 1px #c4cdd5;
    border: 0;
    border-radius: 5px;
    background-color: #ffffff;
    transition: padding 150ms;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    &:not(.t4Warning):focus {
      outline: 0;
      box-shadow: 0 0 0 2px #5c6ac4;
    }
}
#ipt_codet4.t4Warning {
  border: dashed 2px #ec0101;
  box-shadow: none;
}
#ipt_codet4.t4Warning2 {
 border-style: solid;
}
#btn_codet4 {
      margin-top: 8px;
    display: inline-block;
    padding: 1.0625em 1.875em;
    border-radius: 5px;
    font-weight: 700;
    font-size: 1em;
    line-height: 1.133;
    -webkit-font-smoothing: antialiased;
    transition: 150ms ease;
    transition-property: background-color, border-color, box-shadow, color;
    text-align: center;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    box-shadow: 0 5px 15px 0 rgba(0,0,0,0.15);
    background-color: #5c6ac4;
    color: #ffffff;
    text-transform: uppercase;
    min-width: 300px;
    min-height: 40px;
}
#minor_codet4 a {
    margin-top: 15px;
    color: #454f5b;
    font-size: 14px;
        display: block;
    text-decoration: underline;
}
#minor_codet4 a:last-child {
    margin-top: 10px;
}
#res_codet4 {
    color: #5c6ac4;
    font-weight: 500;
}
#btn_codet4:hover, #btn_codet4:focus {
    background-color: #202e78;
    color: #ffffff;
}
#btn_codet4:hover {
    box-shadow: 0 5px 25px 0 rgba(0,0,0,0.25);
}
#btn_codet4.loading {
  pointer-events: none;
}
#btn_codet4.loading>span{
  opacity: 0;visibility: hidden
}
#btn_codet4.loading>svg{
  visibility: visible
}
#minor_codet4 a:hover,#minor_codet4 a:focus {
color: #5c6ac4;
}
.imp_icon_ld {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -15px;
    margin-left: -15px;
    visibility: hidden;
    pointer-events: none;
}
@-webkit-keyframes shaket4code {
  from,
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
}

@keyframes shaket4code {
  from,
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
}

.shaket4code {
  -webkit-animation-name: shaket4code;
  animation-name: shaket4code;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
</style>
<script type="text/javascript">
if (Shopify.designMode) {

   //Check purcharcode

   // check purchase code
   // parent$ = window.parent.$
   try {
      var ThemeIdLoT4 = localStorage.getItem("ThemeIdT4Elessi");
   } catch (err) {
      var ThemeIdLoT4;
   }
   var parent$ = $,
      body = $('body'),
      purchase_codet4 = $('#purchase_codet4'),
      ThemeIdT4 = {{shop.metafields.t4pcc.elessi | json}};

   if (ThemeIdLoT4 == 'true' || ThemeIdT4 == 'true') {
      purchase_codet4.remove();
   } else {
      purchase_codet4.removeClass('hide hidden');
      var ipt_codet4 = $("#ipt_codet4"),
         res_codet4 = $('#res_codet4'),
         shop_email = purchase_codet4.attr('data-email'),
         val_codet4 = ipt_codet4.val();

      // if ((purchase_codet4.is(":hidden") || purchase_codet4.length == 0) && Shopify.theme.role != 'demo') {
      //     //console.log('hidden');
      //     //window.parent.$ && window.parent.$
      //     parent$.ajax({
      //       type: "PUT",
      //      url: '/admin/api/2020-04/themes/'+Shopify.theme.id+'.json',
      //       dataType: 'json',
      //       data: {
      //         "theme": {
      //           "id": Shopify.theme.id,"role": "demo"
      //         }
      //       },
      //       success: function(data) {
      //         top.window.location.reload();
      //         //console.log(data);
      //       }
      //     });
      // }
      if ((purchase_codet4.is(":hidden") || purchase_codet4.length == 0)) {
         body.append('<section id="purchase_codet4" style="display:flex!important;"><h2 id="heading_codet4">Please activate to use theme</h2></section>')
      }

      // purchase_codet4.removeClass('hide_opcode');
      $("#btn_codet4").on('click', function(e) {
         e.preventDefault();
         e.stopPropagation();
         var _this = $(this),
            curent_vlCodet4 = ipt_codet4.val();

         if (curent_vlCodet4 == val_codet4) {
            if (ipt_codet4.hasClass('t4Warning')) {
               ipt_codet4.removeClass('shaket4code').addClass('t4Warning2');
               setTimeout(function() {
                  ipt_codet4.addClass('shaket4code');
               }, 100);
            } else {
               ipt_codet4.addClass('t4Warning shaket4code');
            }
         } else {
            val_codet4 = curent_vlCodet4;
            ipt_codet4.attr('class', '');
            _this.addClass('loading');
            var domain = window.location.hostname;
            var mix = ['4', 't', 'h', 'e', 'p', 'l', 'i', 'c', 'o', '/', '.', ':', 'n', 's'];
            var mix_domain = mix[2] + mix[1] + mix[1] + mix[4] + mix[13] + mix[11] + mix[9] + mix[9] + mix[5] + mix[6] + mix[7] + mix[10] + mix[1] + mix[2] + mix[3] + mix[0] + mix[10] + mix[7] + mix[8] + mix[9] + mix[5] + mix[6] + mix[7] + mix[3] + mix[12] + mix[13] + mix[3] + mix[9] + mix[7] + mix[2] + mix[3] + mix[7] + 'k';
            var data = {
               "shopify_domain": domain,
               "email": shop_email,
               "theme": "elessi",
               "purchase_code": curent_vlCodet4
            };
            fetch(mix_domain, {
               "headers": {
                  "accept": "*/*",
                  "cache-control": "no-cache",
                  "x-requested-with": "XMLHttpRequest"
               },
               "body": btoa(encodeURIComponent(JSON.stringify(data))),
               "method": "POST",
               "mode": "cors"
            }).then((response) => {
               if (response.ok) {
                  return response.json()
               }
               throw ""
            }).then((response) => {
               //console.log(response);
               if (response.status == 1) {
                  res_codet4.html("Activation successfully. Thank you for purchasing!").slideDown(250);
                  localStorage.setItem("ThemeIdT4Elessi", "true");
                  purchase_codet4.remove();
                  _this.removeClass('loading');
                  //setTimeout(function(){ $('#purchase_codet4').remove(); }, 500);
                  //window.parent.$ && window.parent.$
                  //window.parent.fetch
                  // parent$.ajax({
                  //   url: '/admin/api/2020-04/metafields.json',
                  //   type: 'POST',
                  //   data: {
                  //         "metafield": {
                  //           "namespace": "t4pcc",
                  //           "description": "the4_purchase_code",
                  //           "key": "elessi",
                  //           "value": true,
                  //           "value_type": "string"
                  //         }
                  //       }
                  // }).done(function() {
                  //   purchase_codet4.remove();
                  //   _this.removeClass('loading');
                  //   //console.log("success purchase");
                  //   //top.window.location.reload();
                  // }).fail(function() {
                  //   _this.removeClass('loading');
                  // });
               } else {
                  _this.removeClass('loading');
                  if (response.message.length == 58) {
                     res_codet4.html("That license key doesn't appear to be valid. Please check your purchase code again!<br> Please email <a class='cg' href='mailto:the4studio.net@gmail.com' target='_blank'><span>the4studio.net@gmail.com</span></a> if you have any question.").slideDown(250);
                  } else {
                     try {
                        var mess = response.message.split('active domain `')[1].split('`. ')[0];
                     } catch (err) {
                        var mess = response.message;
                     }
                     //var mess = response.message.split('active domain `')[1].split('`. ')[0];
                     res_codet4.html("That license key has been invalidated, due to being active domain " + mess + ".<br> Please email <a class='cg' href='mailto:the4studio.net@gmail.com' target='_blank'><span>the4studio.net@gmail.com</span></a> if you have any question.").slideDown(250);
                  }
               }

            }).catch((e) => {
               _this.removeClass('loading');
               console.error(e)
            });


         }
      });
   }
   // end check purchase code
   //Endcheck purcharcode
}
// END CHECK ENDFRAME
</script>